.booksListContainer {
  width: 80%;
  margin: auto;
}

.booksList {
  list-style: none;
  padding: 0;
}

.bookItem {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bookItem h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.bookItem h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
